<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <form  id="querryForm">
        <select name="tag">
            <option value="Artist"> Artist</option>
            <option value="Song">Song</option>
            <option value="Album">Album</option>
        </select>

        <input name="querry" type="text" placeholder="Search....">
        <input type="submit" value="Search">
    </form>

    <div id="content"> 
        <p></p>
    </div>
</body>
      
<script>
    form = document.getElementById('querryForm')
    
    form.addEventListener("submit", function(event){

                                                    event.preventDefault()
                                                    form_Data = new FormData( form )
                                                    
                                                    var tag =  form_Data.get('tag') 
                                                    var query =  form_Data.get('querry') 

                                                    // console.log(tag)
                                                    // console.log(query)
                                                    

                                                     var template = ""

                                                    fetch('/api/userquery/'+ tag +'/'+ query)
                                                    .then(res => res.json())
                                                    .then(data =>{ for (key in data['output']){
                                                                                                template= template + "<p>" + data['output'][key]['name'] + "</p>"
                                                                                                console.log(data['output'][key]['name'])
                                                                                                }
                                                                console.log(template)
                                                                document.getElementById("content").innerHTML= template
                                                                                            })
                                                })

  




    
</script>


</html>